body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: #f5f7fa;
  color: #333;
}
.container {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  max-width: 1100px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}
.sidebar {
  background: #003f5c;
  color: #fff;
  padding: 20px 20px;
}
.sidebar h1 {
  font-size: clamp(28px, 2.5vw, 32px);
  margin-bottom: 5px;
}
.sidebar .title {
  font-size: 18px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 20px;
}
.contact, .skills, .profile {
  margin-bottom: 30px;
}
.contact h3, .profile h3, .skills h3 {
  margin-bottom: 8px;
}
.contact p, .profile p, .skills li {
  margin: 8px 0;
  font-size: 16px;
  text-align: justify;
}
.contact i, .skills i, .profile i {
  margin-right: 8px;
  color: #bf7f00;
}
.contact span {
  color: #bf7f00;
}
.contact a {
  color: white;
  text-decoration: none;
}
.contact a:hover {
  color: rgb(228, 182, 122);
}
.profile p {
  text-align: justify;
  margin-left: 24px;
}
.skills ul {
  list-style: none;
  padding-left: 0;
}
.skills li {
  font-size: 15px;
  margin: 6px 0;
}
.main {
  padding: 20px 40px;
  color: #616161;
}
h2 {
  color: #003f5c;
  border-bottom: 2px solid #bf7f00;
  padding-bottom: 4px;
  margin-top: 30px;
}
.section p, .section li, .section a {
  font-size: 16px;
  line-height: 1.4;
  text-decoration: none;
}
.job {
  margin-bottom: 20px;
}
.job strong {
  display: block;
  font-size: 18px;
  margin-bottom: 4px;
  color: #003f5c;
}
.job span {
  font-size: 16px;
  color: #bf7f00;
}
.ref-section {
  display: inline-block;
}
.referees li:first-child {
  font-size: 16px;
  color: #003f5c;
}
ul {
  margin: 5px 0 15px 20px;
  list-style: none;
}

/* Responsive */
@media(max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    margin: 20px 5px;
  }
  .sidebar h1 {
    font-size: 34px;
  }
  .main {
    padding: 20px;
  }
}